p {
    color: blue;
}


/* Adds styling to the social media buttons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 90px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}
/* Add a hover effect */
.fa:hover {
    opacity: 0.9;
    color: #cccccc;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
/* Instagram */
.fa-instagram {
    background: #ff8533;
    color: white;
}
/* LinkedIn */
.fa-linkedin {
    background: #4d94ff;
    color: white;
}
/* GitHub */
.fa-github {
    background: #333333;
    color: white;
}
/* Twitter */
.fa-twitter {
    background: #33adff;
    color: white;
}
/* Youtube */
.fa-youtube {
    background: #ff0000;
    color: white;
}
/* Pintrest */
.fa-pinterest {
    background: #b30000;
    color: white;
}


/* 100% of the viewport height, less the height of your header + footer, 101px*/
#body-content {
    min-height: calc(100vh - 136px);
}
/* 100% of the viewport height, on modified pages that have a margin added */
#body-content-modified {
    min-height: calc(100vh - 166px);
}


/* Products Styling */
.product-container {
    display: inline-grid;
    position: relative;
    margin: 5px;
}
.product-details {
    text-align: center 
}
.productdetailimage {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-image {
    width: 200px;
    height: auto;
}
@media only screen and (max-width: 640px) {
    img.product-image {
        width: 150px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



/* Main Home Page Carousel styling */
#CarouselContainer {
    width: 80%;
    margin: auto;
}
#myCarousel {
    margin-top: 50px;
}
.carouselh3{
    color:white;
    text-shadow: 2px 2px black;
    font-family: verdana;
}
.carouselp {
    color:lightcyan;
    text-shadow: 2px 2px black;
    font-family: verdana;
}


/* Main Page Styling */
.aboutme {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 640px) {
    img.aboutme {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 992px) {
    img.aboutme {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



#profilecontainer {
    margin-top: 100px;
}


/* Additional Margins added to containters on selected
pages due to the content being partially covered by navbar*/
.register {
    margin-top: 30px;
}
.login {
    margin-top: 30px;
}
.basket {
    margin-top: 30px;
}
.checkout {
    margin-top: 30px;
}
















/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}