p {
    color: blue;
}


/* Adds styling to the social media buttons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 90px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}
/* Add a hover effect */
.fa:hover {
    opacity: 0.9;
    color: #cccccc;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
/* Instagram */
.fa-instagram {
    background: #ff8533;
    color: white;
}
/* LinkedIn */
.fa-linkedin {
    background: #4d94ff;
    color: white;
}
/* GitHub */
.fa-github {
    background: #333333;
    color: white;
}
/* Twitter */
.fa-twitter {
    background: #33adff;
    color: white;
}
/* Youtube */
.fa-youtube {
    background: #ff0000;
    color: white;
}
/* Pintrest */
.fa-pinterest {
    background: #b30000;
    color: white;
}


/* Products Styling */
.product-container {
    display: inline-grid;
    position: relative;
    margin: 5px;
}
.product-details {
    text-align: center 
}




#CarouselContainer {
    width: 80%;
    margin: auto;
}
#myCarousel {
    margin-top: 50px;
}
.carouselh3{
    color:white;
    text-shadow: 2px 2px black;
    font-family: verdana;
}
.carouselp {
    color:lightcyan;
    text-shadow: 2px 2px black;
    font-family: verdana;
}


/* Main Page Styling */
.aboutme {
    width: 500px;
    height: auto;
}

.productdetailimage {
    width: 450px;
    height: auto;
}

#profilecontainer {
    margin-top: 100px;
}