{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        {% for portfolio in portfolios %}

        <div class="col">
            <div>
                <div class="image">
                    <img src="{{ portfolio.thumb.url }}" alt="{{ portfolio.title }}" class="portfolio-card-image" />
                </div>
                <div class="content">
                    <span class="card-title">{{ portfolio.title }}</span>
                    <p>{{ portfolio.description|truncatechars:120 }}</p>
                </div>
                <div>
                    
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination">
    <span class="links">
        {% if portfolios.has_previous %}
        <a href="?page={{ portfolios.previous_page_number }}" class="btn btn-large">Previous</a>
        {% endif %}

        {% if portfolios.has_next %}
        <a href="?page={{ portfolios.next_page_number }}" class="btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}