{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <h3>{{ product.name }}</h3>

        <div class="product-details-image col-xs-12 col-md-6">
            <img class="productdetailimage" src="{{ MEDIA_URL }}{{ product.product_images }}">
        </div>

        <!--We pass in the Product.id in the url, so the fields
        here will be unique to the selected product, and contain
        populated data about the selected product on this page-->
        <div class="product-details col-xs-12 col-md-6">
            <ul class="list-group">
                <li class="list-group-item">{{ product.art_type }}</li>
                <li class="list-group-item">{{ product.medium }}</li>
                <li class="list-group-item">Size: {{ product.size }}</li>
                <li class="list-group-item">{{ product.description }}</li>
                <li class="list-group-item">Views: {{ product.views }}</li>
                <li class="list-group-item">Price: £{{ product.price }}</li>
            </ul>
            
            <!--We can add the product to the basket, and can specify how many to purchase-->
            <form method="post" action="{% url 'add_to_basket' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name='quantity' type="number" min="1" max="8" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
            </form>

        </div>
    </div>

    <!--Here the user can be taken back to the original list of Products-->
    <div class="button-products">
    <p>
        <button class="btn btn-default" onclick="location.href='/products/products'">Back To Products</button>
    </p>
    </div>



</div>
{% endblock %}