{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Art Pieces for Sale</h1>

    <div>
        {% for product in products %}
        <div class = "product-container">

            <!--<div class = "product-image">
                {% load thumbnail %}
                {% thumbnail product.product_images "200x200" as image %}
                {% if product.product.images %}
                    <img src="{{ image.url }}" height="{{ image.height }}"  width="{{ image.width }}">
                {% else %}
                    <img src="{{ product.product_images }}">     
                {% endif %}
            </div>-->

            <div class = "product-image">
                <!--<img src="{{ product.product_images }}"> This was the link to the image. For testing we're gonna use;-->
                <img src="/media/media/visara_the_dreadful.jpg" height="200" width="150">

            </div>

            <!--This shows the data for each product. At the bottom there is a link to view each product in more detail-->
            <div class = "product-details">
                <h5>{{ product.name }}</h5>
                <h6>£{{ product.price }}</h6>
                <button class="btn btn-default" onclick="location.href ={{ product.id }}">See More</button>&nbsp;
            </div>
    
        </div>
        {% endfor %}

    </div>

{% endblock %}