{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <h1>Art Pieces for Sale</h1>

    <div>
    <!--Here we are looping over every product in
    the database, to populate a list of unique products-->
        {% for product in products %}
        <div class = "product-container">

            <div class = "product-image">
                <img src="{{ MEDIA_URL }}{{ product.product_images }}" height="200" width="150">

            </div>

            <!--This shows the data for each product. At the bottom there is a link to view each product in more detail-->
            <div class = "product-details">
                <h5>{{ product.name }}</h5>
                <h6>£{{ product.price }}</h6>
                <button class="btn btn-default" onclick="location.href ={{ product.id }}">See More</button>&nbsp;
            </div>
    
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}