{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="product-detail-container">

    <h2>View Artwork in more detail:</h2>

    <div class="product-details-image" "col-xs-12" "col-md-8">
        <!--<img src="{{ product.product_images }}">  This was the local one, for testing and placeholder, use below;-->
        <img src="/media/media/visara_the_dreadful.jpg" height="400" width="300">
    </div>

    <div class="product-details" "col-xs-12" "col-md-4">
        <h3>{{ product.name }}</h3>
        <p>{{ product.art_type }}</p>
        <p>{{ product.medium }}</p>
        <p>{{ product.size }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.views }}</p>
        <h4>£{{ product.price }}</h4>
    </div>
    <p>
        <button class="btn btn-default" onclick="location.href='/products/products'">Back</button>
    </p>

    <form method="post" action="{% url 'add_to_basket' product.id %}">
        {% csrf_token %}
        <div class="input-group">
            <input name='quantity' type="number" min="1" max="99" class="form-control" placeholder="Quantity">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add</button>
            </span>
        </div>
    </form>



</div>
{% endblock %}