{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid" id="body-content">
    <h1 class="abouttitle">About the Artist - Ryan Ware</h1>

    <div>
        <div class = "aboutpicture col-xs-12 col-md-6">
            <img class="aboutme" src="https://s3.eu-west-2.amazonaws.com/artsite-ryanware-s3bucketstorage/media/RyanChimera.jpg">

        </div>

        <!--Here we have an accordion collapsable bootstrap section
        This when clicked will drop down more informatio about the user-->
        <div class="panel-group col-xs-12 col-md-6" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Art Education</a>
                    </h5>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">At GCSE Level, I attained a 'C', and whilst I enjoyed Art, I don't 
                    think my passion arrived until A-Levels, where I took a full 2 Year A Level in Fine Art, 
                    backed up with an AS Level in Graphic Design. I first trialed Oils here after attempting Gouache, 
                    but that medium is not for me. Immediately fell in love with the oils, especially with how you
                    could traverse from neat to messy so seamlessly. I then went onto Huddersfield University, where I took
                    Fine Art: Drawing & Painting (BA:Hons). The 3 Years of Experience taught me so much to list just here, but 
                    the exposure with other artists, galleries and exhibitions and new styles trialled was invaluable.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Preferred Mediums & Styles</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">As previously stated, I fell in love with Oil Paints from quite early on, I stuck with
                    them as a primary medium for the vast majority of University, and has been the weapon of choice for most 
                    canvas commissions since. Whilst I hardly touched Acrylics during my education, I picked up and grew to enjoy this 
                    medium after University, partly due to them working so well with Magic The Gathering Alter Cards process. My other 
                    desired medium is one which started out life experimenting at University, where Pen & Ink were combined on Canvas to
                    create a unique stamp effect, which was left to run/bleed.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Influences & Inspiration</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Some of my earliest inspiration came from the fantasy artwork of Warhammer 40,000 in particular
                    John Blanche. His work which featured a lot of black and white imagery maintained an element of fast action, 
                    whislt also portraying raw and sometimes brutal combat. Another artist I admired was John Coulthart, who first caught my 
                    attention with Album Art covers, his black and white work on gothic horror H.P. Lovecraft was incredibly intricate. Later on as I got into Magic The Gathering, I started to really appreciate the work of official Magic Artists such as Terese Nielsen, who has a particular old-school feel to her art style, whilst maintaining a fantastic level of detail.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            About Me</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Artwork aside, well what can I say? Father of 2 fantastic but hell-raising daughters, Husband to a magnificent Wife, and we've been together since 2009. In my day job I work as a Junior Support Developer for a Company 
                    called Commontime, who create mobile solutions for the health sector and other enterprises. Computers, Software have always been an interest to me, but in 2016 I took a course in my spare time with Code Institute who taught me the ropes on Web Development. The end result of that course is this very site, built from scratch with Python Django. This has been a project of mine for some time, and I plan to continue and develop this for time to come, and who knows, many other projects?
                    Other interests of mine include Music Festivals, Gigs, playing Board Games & Magic the Gathering.</div>
                </div>
            </div>

    </div>

    <!--At bottom we just list a few links which may be of use, all of my
    online profile's / portfolio's linked into font awesome's button's -->
    <div class = "aboutmelinks col-xs-12 col-sm-12">

            <a href="https://www.facebook.com/ryanwareartist/" class="fa fa-facebook" style="font-size:54px"></a>
            <a href="https://www.instagram.com/ryanware_artist/" class="fa fa-instagram" style="font-size:54px"></a>
            <a href="https://www.linkedin.com/in/ryan-ware-8a8653153/" class="fa fa-linkedin" style="font-size:54px"></a>
            <a href="https://github.com/RyanWare1987/" class="fa fa-github" style="font-size:54px"></a>
    </div>

</div>
{% endblock %}