{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block title %}
    Edit Profile
{% endblock %}


{% block content %}
<div class="container-fluid" id="body-content">
    <h2>Edit Profile</h2>
    <p>You are logged in as {{ user.email }} </p>
    <h2>Please edit your details below:</h2>

    <!--This will load the profile edit form-->
    <form role="form", method="post", id="profile-edit-form" action="{% url 'edit_profile' %}">
        <legend>Edit Your Profile</legend>
        {% csrf_token %}
        {{ PEform | as_bootstrap }}
        <div class="form-group">
            <button type="submit" id="submit_profile_btn" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}