{% extends "base.html" %}
{% block content %}
    <h2>Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    
    <h2>To edit your profile:</h2>
    <div>
            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'edit_profile' %}'">Edit Profile</button>
    </div>

    <p>Date of Birth: {{ user.profile.date_of_birth }}</p>
    <p>Occupation: {{ user.profile.occupation }}</p> 
    <p>My Favourite Artist: {{ user.profile.fav_artist }}</p>
    <p>My Preferred Medium: {{ user.profile.medium }}</p>
    <p onclick="location.href='{{ user.profile.website }}'">My Website: {{ user.profile.website }}</p>
    <p>About Myself: {{ user.profile.about_me }}</p>

    <div>
        <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{{ user.profile.facebook_url }}'">Facebook</button>
        <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{{ user.profile.twitter_url }}'">Twitter</button>
        <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{{ user.profile.instagram_url }}'">Instagram</button>
    </div>
{% endblock %}