{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!--Container for the User's Profile Page-->
<div class="container-fluid" id="body-content">

    <div class="col-xs-12 col-md-12">
        <h3>Welcome to your Profile page, {{ user.profile.name }} </h3>

        <!--We use a list group bootstrap class here to keep all the data nice together-->
        <ul class="list-group">
            <li class="list-group-item">Date of Birth: {{ user.profile.date_of_birth }}</li>
            <li class="list-group-item">Occupation: {{ user.profile.occupation }}</li> 
            <li class="list-group-item">My Favourite Artist: {{ user.profile.fav_artist }}</li>
            <li class="list-group-item">My Preferred Medium: {{ user.profile.medium }}</li>
            <li class="list-group-item" onclick="location.href='{{ user.profile.website }}'">My Website: {{ user.profile.website|urlize }}</li>
            <li class="list-group-item">About Myself: {{ user.profile.about_me }}</li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-12">    

        <!--These if statements check if a user has populated these fields with a url-->
        {% if user.profile.facebook_url %}
        <a href='{{ user.profile.facebook_url }}'class="fa fa-facebook" style="font-size:36px"></a>
        {% endif %}
        {% if user.profile.twitter_url %}
        <a href='{{ user.profile.twitter_url }}'class="fa fa-twitter" style="font-size:36px"></a>
        {% endif %}
        {% if user.profile.instagram_url %}
        <a href='{{ user.profile.instagram_url }}'class="fa fa-instagram" style="font-size:36px"></a>
        {% endif %}
        {% if user.profile.linkedin_url %}
        <a href='{{ user.profile.linkedin_url }}'class="fa fa-linkedin" style="font-size:36px"></a>
        {% endif %}
        {% if user.profile.youtube_url %}
        <a href='{{ user.profile.youtube_url }}'class="fa fa-youtube" style="font-size:36px"></a>
        {% endif %}
        {% if user.profile.pintrest_url %}
        <a href='{{ user.profile.pintrest_url }}'class="fa fa-pinterest" style="font-size:36px"></a>
        {% endif %}

        {% if not user.profile.pintrest_url and user.profile.linkedin_url and user.profile.youtube_url and user.profile.facebook_url and user.profile.twitter_url and user.profile.instagram_url %}
            <!--This purely hides the links if a user has not specified an entry for each field-->
        {% endif %}

        <!--Button gives the user the option to edit the data of their profile-->
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'edit_profile' %}'">Edit Profile</button>
    </div>
</div>
{% endblock %}