{% extends "base.html" %}
{% block content %}
    <h2>Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    <p>Welcome to your Profile page, {{ user.profile.name }} </p>
    
    <h2>To edit your profile:</h2>
    <div>
            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'edit_profile' %}'">Edit Profile</button>
            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'image_form_upload' %}'">Upload Image</button>
    </div>

    <p>Date of Birth: {{ user.profile.date_of_birth }}</p>
    <p>Occupation: {{ user.profile.occupation }}</p> 
    <p>My Favourite Artist: {{ user.profile.fav_artist }}</p>
    <p>My Preferred Medium: {{ user.profile.medium }}</p>
    <p onclick="location.href='{{ user.profile.website }}'">My Website: {{ user.profile.website|urlize }}</p>
    <p>About Myself: {{ user.profile.about_me }}</p>

    <p>Profile Pic Test placeholder: {{ user.profile.image. }}</p>

    <div>
        <a href='{{ user.profile.facebook_url }}'class="fa fa-facebook" style="font-size:36px"></a>
        <a href='{{ user.profile.twitter_url }}'class="fa fa-twitter" style="font-size:36px"></a>
        <a href='{{ user.profile.instagram_url }}'class="fa fa-instagram" style="font-size:36px"></a>
        <a href='{{ user.profile.linkedin_url }}'class="fa fa-linkedin" style="font-size:36px"></a>
        <a href='{{ user.profile.youtube_url }}'class="fa fa-youtube" style="font-size:36px"></a>
        <a href='{{ user.profile.pintrest_url }}'class="fa fa-pinterest" style="font-size:36px"></a>
    </div>
{% endblock %}